
Tarefas do mês
<div class="w-full h-full gap-x-4" style="display: grid; grid-template-columns: 1fr 1fr " >
  <div class="bg-white rounded h-full p-5 flex justify-center">
    <div style="height: auto; width: 250px; ">
      <canvas #meuCanvas> </canvas>
    </div>
  </div>
  <div class="bg-white rounded h-full p-5">
    <span class="flex justify-center">
      Tarefas que merecem sua atenção
    </span>
    <div class="border border-neutral-200 py-1 px-3 rounded hover:border-0 hover:bg-rose-100 flex cursor-pointer">
      <span class="text-red-500 font-bold">A</span>
      <div class="w-full ml-2">Tarefa numero um</div>
      <div class="flex justify-end w-full">12/12/12</div>
    </div>
  </div>

</div>
